
 

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  --color-darkgray: #363636;
  --color-royalblue: #159;
  --color-slategreen: #9df5c8;
  --font-header: source code pro;
  --background-image: url(https://d3m7xw68ay40x8.cloudfront.net/assets/2015/11/02221549/blue-ridge.jpg);
  --footer-height: 100px;
}

html, body {
  background-image:  var(--background-imag, green);
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3{
  font-size: 22px;
}

article{
  margin: 5px 20px 10px 10px;
    padding: 15px;
  }
  
p {
  font-size: 20px;
  }

.rounded-borders{
  border: solid whitesmoke 2px;
  border-radius: 10px;
}
.circle{
  border: solid;
  border-radius: 50%;
}
.small-text{
  font-size: small;
}
  .header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 0px;
    padding: 10px;
    background: linear-gradient(to right, var(--color-royalblue, blue), white);
  }
  .header-text-box{
    width: 100%;
    margin: 10px 10px;
  }
  .header-text{
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: whitesmoke;
    font-size: 48px;
    font-family: var(--font-header, sans-serif); 
  }
  .body-icon-link-flexbox{
    display: flex;
    flex-direction: row;
    margin: 10px 15px;
    
  }
  .icon-link-img{
    color: black;
    width: 35px;
    margin: 5px 20px;
    
  }
  
  .body-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: var(--footer-height, 100px);
    height: 100%;
    width: 100%;
    overflow: auto;
  }

 .body-header-text{
  margin: 10px;
  padding: 5px;
  background: linear-gradient(to left, var(--color-royalblue, blue), white);
  color: var(--color-darkgray);
  font-size: 32px;
 }
 
.body-main-content{
  margin: 10px;
}
.body-section-1{
  margin: 5px;
  width: 800px;
}

.body-section-2{
  margin: 10px;
  width: 600px;
}

.profile-img-box{
  padding: 10px;
  
}

.profile-img{
  width: 100%;
  border: solid whitesmoke 2px;
  border-radius: 50%;
}
  .body-content-title{
    margin: 10px auto 5px auto;
    padding: 2px;
    font: bold;
    width: 98%;
  }
  .body-content-text{
    width: 100%;
    margin: 5px;
    padding: 10px;
    text-align: left;
  }
  .text{
    font-size: 12px;
    width: 85%;
  }

  

  button{
    margin: 5px;
    width: 150px;
    height: 50px;
    align-self: center;
    border-radius: 10px;
  }

  .btn-home{
    position: absolute;
    right: 0;
    top: 20px;
    background-color: whitesmoke;
    font-size: medium;
  }

  .btn-home:hover{
    background-color: gainsboro;
  }

  .btn-home:active{
    background-color: gray;
    width: 153px;
  }

  .button-group{
    margin: 5px auto 10px auto;
    text-align: center;
    
  }


  .footer-main {
    position: relative;
    height: var(--footer-height, 100px);
    margin-top: -(var(--footer-height, -100px));
    clear: both; 
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    
  }
  .footer-text{
    color:black;  
    font-style: normal;
    font-size: 11px;
  }
  .footer-link-unsplash{
    
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
  }


  @media only screen and (max-width: 360px) {
    body{
      font-size: 12px;
    }

    .header-text { 
      font-size: 24px; 
    }
    
    .profile-img-box{
      margin-left: 25%;
      margin-top: 5px;
      padding: 2px;
  
      width: 40%;
      margin-right: 2%;
      float: left;
    }
    .body-main{
      margin-left: 15%;
      padding: 3px;
      width: 70%;
      margin-right: 2%;
      float: left;
    }
 
 }

 @media only screen and (max-width: 675px) {

  .header-text { 
    font-size: 32px; 
    justify-content: middle;
  }
}