
 

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  --color-darkgray: #363636;
  --color-royalblue: #159;
  --color-slategreen: #9df5c8;
  --font-header: source code pro;
  --footer-height: 100px;
}


h1 {
  text-align: center;
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3{
  font-size: 22px;
}

article{
  margin: 10px 15px;
  padding: 10px;
  }
  
p {
  font-size: 18px;
  }

.rounded-borders{
  border: solid whitesmoke 2px;
  border-radius: 10px;
}
.circle{
  border: solid;
  border-radius: 50%;
}
.small-text{
  font-size: small;
}
  .header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, var(--color-royalblue, blue), lightgreen);
  }
  .header-text-box{
    width: 250px;
    margin: 5px 5px;
  }
  .header-text{
    width: 100%;
    text-align: left;
    color: whitesmoke;
    font-size: 36px;
    font-family: var(--font-header, sans-serif); 
  }
  .header-btn-flexbox{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }

  .header-button{
    background: none;
    border: none;
    font-size: larger;
    max-width: 150px;
    min-width: 100px;
    color: whitesmoke;
  }

  .header-icon-flexbox{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }

  .icon-link-img{
    color: black;
    width: 30px;
    margin: 5px 20px;
  }
  
.body-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: var(--footer-height, 100px);
  height: 100%;
  width: 100%;
}

.body-header-text{
margin: 10px 5px;
padding: 10px 5px;
}
 

.body-section-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  width: 50%;
}
.profile-img-box{
  margin: 5px;
}

.profile-img{
  width: 100%;
  border: solid whitesmoke 2px;
  border-radius: 5%;
}
.body-section-2{
  width: 90%;
  margin: 10px;
  padding: 5px;
}
.body-content-title{
    margin: 10px auto 5px auto;
    padding: 2px;
    font: bold;
  }
  .body-content-text{
    margin: 5px;
    padding: 10px;
    text-align: left;
  }

  .footer-main {
    position: relative;
    height: var(--footer-height, 100px);
    margin-top: -(var(--footer-height, -100px));
    padding-top: 20px;
    clear: both; 
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    
  }
  .footer-text{
    color:black;  
    font-style: normal;
    font-size: 11px;
    margin: 2px 0px;
  }

  @media only screen and (max-width: 360px) {
    body{
      font-size: 14px;
    }
 }
 
 @media (min-width: 600px){
   .header-main{
     align-items: center;
   }
  }
  @media only screen and (max-width: 720px) {
    .header-main{
      flex-direction: column;
      align-items: center;
    }
    .header-icon-flexbox{
      justify-content: flex-start;
    }
    .header-btn-flexbox{
      justify-content: flex-start;
    }
    .body-main{
      flex-direction: column;
      align-items: center;
    }
    .body-section-1{
      width: 65%;
    }
}